*{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
}
html{
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("background3.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.header{
    height: 100vh;
    width: 100%;
    /*background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("background3.jpg");
    background-size: cover;
    background-position: center;*/
}
.navbar{
    width:85%;
    margin: auto;
    padding: 30px 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160%;
    height: 35px;
    border-radius: 20px;
    background-color: #a28089;
    text-decoration: none;
    color: #fff;
}
.navbar ul li a:hover{
    background-color: #fff;
    color: #a28089;
}
.logo{
    width: 70px;
    cursor: pointer;
}
.center{
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.right{
    margin-left: auto;
}
.intro{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.intro h1{
    font-size: 70px;
    font-weight: 700;
    margin-top: 80px;
}
.intro p{
    margin: 20px auto;
    font-size: 25px;
    font-weight: 100;
    line-height: 25px;
}
.footer{
    height: 40vh;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    align-content: center;
    border-top-color: #fff;
    border-top-width: 1px;
    border-top-style: solid;
}

.nametag{
    margin-top: 50px;
    width: 30%;
    align-items:space-between;
    justify-content: center;
    display:flex;
    margin-left: 80px;
}
.name{
    color: #fff;
    position: absolute;
    text-align: center;
    align-items: center;

}
.name h1{
    font-size: 30px;
    font-weight: 400;
    margin-top: 80px;
}
.name p{
    font-size: 15px;
    font-weight: 50;
    margin: 20px auto;
    line-height: 10px;
}
.contact{
    margin-top: 50px;
    width:20%;
    align-items: space-between;
    justify-content: center;
    margin-right:80px;
}
.contact h1{
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    width: 110%;
}
.contact ul li{
    list-style: none;
    display: grid;
    margin: 20px 0;
    justify-content: center;
}
.contact ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160%;
    height: 35px;
    border-radius: 20px;
    background-color: #a28089;
    text-decoration: none;
    color: #fff;
    text-align: center;
}
.contact ul li a:hover{
    background-color: #fff;
    color: #a28089;
}